<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="css/error.css" />

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1 class="error-header">
                    Oops!
                </h1>
                <h2 class="error-header">
                    {{ code }}
                </h2>
                <div class="error-details alert alert-danger">
                    {{ msg }}
                </div>
                <div class="error-actions">
                    <a href="home" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        Take Me Home
                    </a>
                </div>
                <div class="error-actions error-contact">
                    If the error persist you can
                    <a href="mailto:bbglab@irbbarcelona.org" target="_top">
                        send us an email
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>.
                    Please, add the error traceback in you email.
                </div>
            </div>
        </div>
    </div>

    {% if trace %}
    <div class="row">
         <div class="col-md-12 error-template error-traceback">
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#traceback">Show traceback</button>
            <div id="traceback" class="collapse well">
                {{ trace }}
            </div>
         </div>
    </div>

    {% endif %}

</div>

</body>
</html>