{#Frequently asked questions page#}

{% extends "layout.html" %}

{% set active_page = "faq" %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/faq.css" />
{% endblock %}

{#FIXME: fill the content#}

{% block content %}
    <div class="container">
        <div class="faq">

            <ul>
                <li>General questions
                    <ul>
                        <li><a href="#q01">What is your doubt?</a></li>
                        <li><a href="#q02">More doubts?</a></li>
                        <li><a href="#qrestapi">Is there a REST API?</a></li>
                    </ul>
                </li>
            </ul>

            <div class="row">
                <div class="col-xs-12 col-md-offset-1 col-md-10">
                    <h2>General questions</h2>
                </div>
            </div>

            <a name="q01"></a>
            <div class="row">
                <div class="col-xs-12 col-md-offset-1 col-md-10">
                    <h3>What is your doubt?</h3>
                    <p>Text and a photo below.</p>
                    <div class="thumbnail with-caption">
                      <img src="https://placehold.it/350x150">
                      <p>Explain your picture</p>
                    </div>
                </div>
            </div>

            <a name="q02"></a>
            <div class="row">
                <div class="col-xs-12 col-md-offset-1 col-md-10">
                    <h3>More doubts?</h3>
                    <p> Google them</p>
                </div>
            </div>

            <a name="qrestapi"></a>
            <div class="row">
                <div class="col-xs-12 col-md-offset-1 col-md-10">
                    <h3>Is there a REST API?</h3>
                    <p>
                        Yes, you can find all the information in
                        <a href="rest_api" target="_self">the REST API page </a>.
                        You can find also examples of how to use it.
                    </p>
                </div>
            </div>



        </div>
    </div><!-- container -->
{% endblock %}

