{#Page displaying a message saying that the user is not authorized#}

{#Jinja users:#}
{#msg -> string with a message to be displayed. Optional#}

{% extends "layout.html" %}
{% import "message.html" as message %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="top30">
                <div class="alert alert-danger">
                    You are not authorized to access this resource.
                </div>
            </div>
        </div>
    </div>

</div>

{% set msg = msg or none %}
{{ message.show(msg, type='info') }}


{% endblock %}