{#Home page. It contains a brief explanation of the method,#}
{#links to the code... and the examples that should be accessible#}


{% extends "layout.html" %}
{% import "jobs.html" as jobs %}
{% import "message.html" as message %}



{#Jinja uses:#}
{#msg -> string with a waring message. Optional#}
{#example_jobs -> dict with id-job pairs. Optional#}


{% set active_page = "home" %}
{% set example_jobs = example_jobs or {} %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/home.css" />
{% endblock %}

{% block content %}

    <!-- Main text describing project -->
    <div class="jumbotron">

{#        It included here to avoid having a blank area when the message is shown#}
        {% set msg = msg or none %}
        {{ message.show(msg) }}

        <div class="container main-text">
            <h1>Project title</h1>
            <p>Main description.</p>
            <br/>
            <p style="font-family: 'Trebuchet MS', sans-serif; font-size: smaller">
                Additional info (less important). E.g. Link to the repo...
            </p>

        </div>
    </div>


    <div class="container">
        <div class="page-header">
            <h2>Examples</h2>
        </div>
        {{ jobs.show(example_jobs,job_css_type ='example_job') }}
    </div>


{% endblock %}

{% block scripts %}
    <script>
    $(document).ready(function(){
        $("[data-toggle='popover']").popover({
           container: 'body'
        });
    });
    </script>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
{% endblock %}
