{#Macro for showing a list of jobs#}

{% macro show(jobs, jobs_class='list-group', job_css_type='') -%}
    <div class="{{ jobs_class }}">
        {%   for id, job in jobs.items()  %}
            <div class="row">
                <div class="col-md-12">
                    <div class="list-group-item {{job_css_type}}">
                        <h4 class="list-group-item-heading">
{#                            FIXME: href#}
                            <a href="results?id={{ id }}" data-toggle="tooltip" title="Click here to view the job">
                                <span class="fa fa-bar-chart"></span>
{#                                FIXME#}
                                <strong>{{ job.metadata.get('title', id) }}</strong>
                            </a>
                            <small>Some more info</small>
                        </h4>
                        <div class="list-group-item-text">
                            <p>
                                <small class="case-details">

{#                                    Popover with the job information#}
{#                                    Add data-trigger="hover" to make the popover display on hover#}
{#                                    FIXME#}

                                    <a data-toggle="popover" data-html="true"
                                       title="<b>Job:</b> <i>{{ id }}</i>"
                                       target="_blank"
                                       data-trigger="hover"
                                       class = "information"
                                       data-content="
                                       <b>Feature 1:</b> Description
                                       <br/>
                                       <b>Feature 2:</b> Description
                                         ">
                                        Special job information
                                    </a>
                                </small>
                                {% if 'date' in job.metadata %}
                                    <br/>
                                    <small class="case-details">
                                        Created on {{ job.metadata['date'] }}
                                    </small>
                                {% endif %}
                            </p>
                            <p> {{ job.metadata.get('description', 'There is no description of this job') }} </p>
                        </div><!-- list-group-item-text -->
                        <div class="btn-group btn-group-sm">
{#                            FIXME: href#}
                            <a class="btn" href="results?id={{ id }}" target="_top">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                Browse
                            </a>

{#                            FIXME: add button to download the results#}
{#                            <a class="btn" href="download?id={{id}}&file=" >#}
{#                                <i class="fa fa-download" aria-hidden="true"></i>#}
{#                                Download results#}
{#                            </a>#}

                        </div><!-- btn-group -->
                    </div><!-- list-group-item -->
                </div>
            </div><!-- row -->
        {% endfor %}
    </div><!-- List group -->
{%- endmacro %}