<!DOCTYPE html>

{#Layout of the web. #}
{#Inherited by most of the pages.#}
{#Is a page without content.#}
{##}
{#Has the following blocks:#}
{#- stylesheets: emtpy. For addding page specific stylesheets#}
{#- content: empty. For adding the page content#}
{#- basic_scripts: block with some "essential" scripts#}
{#- scipts: empty. Block for page specific scpits#}
{#- authentication_scripts: block with the scripts related to authentication#}

{#    FIXME: set the pages (and their names) that your web has#}
{#    Elements in the navigation bar.#}
{#    Assignation (tuple-like):#}
{#    - name of the link#}
{#    - font-awesome icon#}
{#    - name to display#}

{% set navigation_bar = [
    ('home', 'fa fa-home', 'Home'),
    ('analysis', 'fa fa-gear', 'Analysis'),
    ('results', 'fa fa-book', 'Results'),
    ('faq', 'fa fa-question', 'Faq'),
    ('about', 'fa fa-comment', 'About')
    ]
-%} <!-- adjust your navigation bar -->
{% set active_page = active_page or path_info() -%}

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

    <title>Web title</title> <!-- FIXME: use a name of your choice-->
    <!-- If we have an icon -->
    <!--<link rel="icon" type="image/png" href="images/group/BBGLab-logo.png" /> You can put your icon here -->


    <!-- JQuery Cookie Bar -->
    <link rel="stylesheet" type="text/css" href="libs/jquerycookiebar/jquery.cookiebar.css" />

    <!-- Venobox -->
    <link rel="stylesheet" href="libs/venobox/venobox.css" type="text/css" media="screen" />

    <!-- Sweet alert -->
    <link rel="stylesheet" type="text/css" href="libs/sweetalert/sweetalert.css" />

    <!-- Go top -->
    <link rel="stylesheet" href="libs/gotop/gotop.css" />

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Font awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Space+Mono|Work+Sans" rel="stylesheet">

    <!-- Our CSSs -->
    <link rel="stylesheet" href="css/layout.css" />

    {% block stylesheets %}
    {% endblock %}

</head>


<body>

<!-- FIXME: use your projects google analytics object -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-7336589-1', 'auto');
ga('send', 'pageview');
</script>

<!-- Go top icon -->
<a href="#0" class="cd-top">Top</a>

<nav class="navbar navbar-default navbar-static-top navigation-menu"><!-- navbar-default can be replace for navbar-inverse-->
    <div class="container"><!-- option: container-fluid-->

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
{#            <a class="navbar-brand" href="#">#}
{#                #}
{#                <img src="images/group/BBGLab-small.png" alt="Alternative text" style="max-width:100%; max-height:100%;"/>#}
{#            </a>#}
            <a class="navbar-left navbar-logo" href="#">
{#                FIXME: use your projects logo#}
                <img src="images/group/BBGLab-small.png" alt="BBGLab"/>
            </a>
        </div><!-- navbar-header -->

        <div class="collapse navbar-collapse" id="navbar-items">

            <ul class="nav navbar-nav">
                {% for href, icon, caption in navigation_bar %}
                    <li>
                        <a href="{{ href|e }}" {% if (href) == active_page|e %} class="active"{% endif %}>
                            <span class="fa {{ icon }}"></span>&nbsp;{{ caption|e }}
                        </a>
                    </li>
                {% endfor %}
            </ul><!-- navbar-nav -->


            <ul class="nav navbar-nav navbar-right navbar-login" id="navbar_user">
                {% include "navbar_user.html" %}
            </ul>



        </div><!-- navbar-collapse -->

    </div><!-- container-fluid -->
</nav>

{#REQUIRED: when using authentication and the user profile#}
{% include "profile_form.html" %}

<!-- Space for the content of each child .html file -->
{% block content %}{% endblock %}


<footer class="page-footer">

{#    FIXME: remove the disclaimer if you do not need it#}
    <div class="disclaimer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <strong>Disclaimer</strong> This resource is intended for research purposes and it must not substitute a doctor's medical judgement or healthcare professional advice.
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
              <div class="col-xs-12 col-md-3"><!-- For the links -->
                  <div class="row legal">
{#                      FIXME: set the rigth links for terms and legal disclaimers#}
                      <div class="col-xs-6 col-md-12">
                          <span><a href="https://www.irbbarcelona.org/en/legal-disclaimer" target="_blank">- Legal advice</a></span>
                      </div>
{#                      REQUIRED: when providing a REST API#}
                      <div class="col-xs-6 col-md-12">
                          <span><a href="rest_api" target="_self">- REST API</a></span>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-md-9 sponsors"> <!-- For the logos -->
{#                  FIXME: add the logos#}
                  <a href="http://bbglab.irbbarcelona.org/" target="tab"><img src="images/group/BBGLab-small.png" style=""/></a>
                  <a href="https://www.irbbarcelona.org/" target="tab"><img src="images/irb/IRB_vertical.png" /></a>
                  <a href="http://bist.eu/" target="tab"><img src="images/bist/BIST_vertical.png" /></a>
              </div>
        </div><!-- row -->
    </div><!-- container -->
</footer>

{% block basic_scripts %}
     <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>


    <!-- Cookie bar -->
    <script src="libs/jquerycookiebar/jquery.cookiebar.js"></script>
    <!-- custom -->
    <script src="js/cookiebar.js"></script>

    <!-- Venobox -->
    <script src="libs/venobox/venobox.min.js"></script>

    <!-- Sweet alert -->
    <script src="libs/sweetalert/sweetalert.min.js"></script>

    <!-- Go top -->
    <script src="libs/gotop/gotop.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Initialize venobox -->
    <script>
        $(document).ready(function(){
            $('.venobox').venobox();
        });
    </script>

{% endblock %}


{% block scripts %}
{% endblock %}

{#REQUIRED: when using authentication#}
{% block authentication_scripts %}


    <script type="text/javascript">
        function anonymous() {
            $('#anonymous_user').show();
            $('#registered_user').hide();
            $('#profiled_user').hide();
        };

        function authenticate(user) {
            $('#anonymous_user').hide();
            $('#registered_user').show();
            $('#profiled_user').hide();
            $('#registered_user_id').text(user);
        };

        function show_institution(institution) {
            $('#profile_institution_div').show();
            $('#profile_institution').text(institution);
            $('#profile_form_institution').val(institution);
        };

        function newsletter(flag) {
            if (flag) {
                $('#profile_newsletter').text('Subscribed');
                $('#profile_form_newsletter').prop('checked', true);
            }else {
                $('#profile_newsletter').text('Not subscribed');
            }
        };

        function terms(flag) {
            if (flag) {
                $('#profile_terms').text('Accepted');
                $('#profile_form_terms').prop('checked', true);
            }else {
                $('#profile_terms').text('Not accepted');
            }
        };

        function profile_submit_enable(flag) {
            $("#profile_form_submit").attr("disabled", !flag);
        };

        function authenticate_with_profile(name, email) {

            $('#anonymous_user').hide();
            $('#registered_user').hide();
            $('#profiled_user').show();

            // name
            $('#profile_id').text(name);
            $('#profile_name').text(name);
            $('#profile_form_name').text(name);

            //email
            $('#profile_email').text(email);
            $('#profile_form_email').attr('placeholder', email);

            // set the current page for redirecting after the submit
            $('#profile_form_to').val(window.location.href);
        };

        $(document).ready(function(){
             /* Update loging and logout redirect pages */
             $("a[href='login']").attr("href", "login?page="+encodeURIComponent(window.location.href));
             $("a[href='logout']").attr("href", "logout?page="+encodeURIComponent(window.location.href));
        });

        $("#profile_form_terms").click(function() {
            $("#profile_form_submit").attr("disabled", !this.checked);
        });

    </script>


    <script src="user.js"></script>

{% endblock %}



</body>
</html>
