{#This document contains the 3 items than can be shown for the user in the navigation bar.#}
{#Only 1 at a time should be displayed.#}
{#The JS and user.js should fill dinamycally all the valuesin the spans#}



{#unlogged user#}
<li id="anonymous_user">
    <a href="login" style="cursor: pointer;">
        Login
        <i class="fa fa-user"></i>
    </a>
</li>


{#FIXME: only one of the next '<li>s' is required. You can keep both.#}
{#    Use the first one for simple app without profile.#}
{#    Use the latter for showing the user profile.#}

{#Logged user: simple original button#}
<li id="registered_user">
    <a href="logout" data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" title="Logout">
        <span id="registered_user_id">
            <!-- Filled by JS -->
        </span>
        <i class="fa fa-user"></i>
    </a>
</li>

{#Logged user: user with profile#}
<li class="dropdown" id="profiled_user">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user"></span>
        <strong>
            <span id="profile_id">
                <!-- Filled by JS -->
            </span>
        </strong>
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu container-fluid user_profile">
        <li>
            <div>
                <div style="text-align: center; margin-bottom: 10px">
                    <span id="profile_email">
                        <!-- Filled by JS -->
                    </span>
                </div>
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>
                        <span id="profile_name">
                            <!-- Filled by JS -->
                        </span>
                    </dd>
                    <!-- Displayed or not by user.js -->
                    <div id="profile_institution_div" style="display: none">
                        <dt>Institution</dt>
                        <dd>
                            <span id="profile_institution">
                                <!-- Filled by JS -->
                            </span>
                        </dd>
                    </div>
                    <dt>BBGLab newsletter</dt>
                    <dd>
                        <span id="profile_newsletter">
                            <!-- Filled by JS -->
                        </span>
                    </dd>
                    <dt>Terms</dt>
                    <dd>
                        <span id="profile_terms">
                            <!-- Filled by JS -->
                        </span>
                    </dd>
                </dl>
            </div>
        </li>

        <li class="row" style="margin-bottom: 5px;">
                <div class="col-xs-5 col-md-offset-2 col-md-4">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#profile_modal">
                        Update profile
                    </button>
                </div>
                <div class="col-xs-5 col-md-4">
                    <a href="logout" class="btn btn-danger btn-sm" style="color: white">
                        Logout
                    </a>
                </div>
        </li>

    </ul>
</li>

