@import "jumbotron";
@import "colors";

.logo {
  max-height: 200px;
  max-width: 200px;
}

h1, h2 {
  color: $corporatius-main;
}

/* Override jumbotron title color */
.jumbotron h1 {
  color: $corporatius-main;
}
