@import "colors";
@import "panels";
@import "displayBox";

form[class~='bg_form'] {
    @extend .display-box;
}

span.help-block a {
  color: $corporatius-main;
}

span.help-block a:hover {
  color: $corporatius-light;
}
