@import "colors";
@import "fonts";
@import "displayBox";

div.faq {
  @extend .display-box;
}

/* Sections */
div.faq h2 {
  width:100%;
  color: $corporatius-dark;
  font-weight: bold;
  font-size: 26px;
  border-bottom: 1px solid $corporatius-light;
  padding: 5px;
  font-family: $brand-font;
}

/* each topic */
div.faq h3 {
  color: $corporatius-main;
  font-size: 22px;
}

div.faq p {
  font-family: $baseline-font;
}

div.faq ul {
    list-style-type: none;
    border: 1px solid $corporatius-light;
    border-radius: 20px;
    color: $corporatius-main;
    font-weight: bold;
    padding: 20px 50px;
    margin-bottom: 40px;
}

div.faq ul > li {
  font-size: 18px;
  margin-top: 10px;
  font-family: $brand-font;
}


div.faq ul > li > ul {
   list-style-type: square;
   border: none;
   color: $corporatius-main;
   font-weight: normal;
   margin-bottom: 5px;
}


div.faq ul > li > ul > li {
  font-size: 16px;
  margin-top: 0px;
  font-family: $baseline-font;
}


div.faq ul a{
  color: $corporatius-main;
}

div.faq ul a:hover{
  color: $corporatius-light;
}

/* FIXME: example of thumbnails. Adjust them to your needs */
.thumbnail.with-caption img {
    min-width: 400px;
    width: 80%;
}

.thumbnail.with-caption {
    display: inline-block;
    background: #f5f5f5;
    width: 100%;
}

.thumbnail.with-caption p {
    margin: 0;
    padding-top: 0.5em;
    font-size: 12px;
    text-align: center;
}
.thumbnail.with-caption small:before {
    content: '\2014 \00A0';
}

.thumbnail.with-caption small {
    width: 100%;
    text-align: right;
    display: inline-block;
    color: #999;
}
