@import "colors";

/* FIXME: adjust footer size */
$size: 135px;
$background-color: inherit;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $size;
}

.page-footer {
  border-top: solid 2px $corporatius-light;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $size;
  background-color: $background-color;
}


.page-footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
}

.disclaimer {
  background-color:#ffdcc5;
  padding:10px 0;
  text-align:center;
}

.page-footer .legal {
  margin-bottom: 15px;
}

.page-footer .legal a {
  color: $corporatius-dark;
}

.page-footer .legal a:hover {
  color: $corporatius-light;
}

.sponsors {
  text-align:center;
  margin-bottom: 20px;
}

.sponsors a {
  display:inline-block;
  margin-right:10px;
}

/* FIXME: adjust logos max sizes when displayed in the footer */
.sponsors img {
  max-height: 50px;
  max-width: 100px;
}


/* increase the size of the footer
so that all elements can fit */
@media (max-width: 768px) {
  $new-footer-size: 200px; /*FIXME: adjust footer size for mobile displays*/
  body {
    margin-bottom: $new-footer-size;
  }
  .page-footer {
    height: $new-footer-size;
  }
}
