@import "fonts";

/* Overwrite margin of the navbar do have the jumbotron touching it */
.navbar {
  margin-bottom: 0px;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4{
  font-family: $brand-font;
}

.jumbotron h1 {
  font-size: xx-large;
}

.jumbotron p {
  font-family: $baseline-font;
  font-size: medium;
}

/* Change the Jumbotron background */
.jumbotron {
    //background: #F8F8F8 url("../images/background.jpg") center bottom 0px repeat-x;
}
