@import "colors";
@import "fonts";
@import "user_profile";

$background-color: $corporatius-light;

.navigation-menu {
  background: white none;
}

.navbar-logo img{
  max-height: 50px;
}

/* Links in the navigation menu */
.navigation-menu .navbar-nav li > a {
  color: $corporatius-dark;
  font-family: 'Roboto', $brand-font;
  font-size: 14px;
}

.navigation-menu .navbar-nav li > a:hover {
    color: $corporatius-light;
}

.navigation-menu .navbar-nav li > a.active{
    color: $corporatius-main;
}

/* Collapsed buttton properties */
.navigation-menu button[data-toggle] {
}
.navigation-menu button[data-toggle]:hover{
}
