@import "colors";

$panel-title-color: white;
$panel-title-background-color: #337ab7;
$panel-background-color: inherit;

div[class*='panel_'] {
    background-color: $panel-background-color;
    border: 1px solid $panel-title-background-color;
  margin: 20px;
}

/* titles with icons */
div[class*='panel_'] .panel-title {
    display: inline;/* to be able to use icons with the header */
    font-weight: bold;/* font in bold*/
}

div[class*='panel_'] > div.panel-heading {
    background: $panel-title-background-color none;/* use same color in panel border*/
    color: $panel-title-color;/*text color*/
}

div[class*='panel_'] div.panel-body {
  overflow-y:  auto;
}

/* panel header row icon */
div[class*='panel_'] a.heading-icon:after
{
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: inherit;
}
div[class*='panel_']  a[class~=heading-icon].collapsed:after
{
    content:"\e080";
}

/* scroll bar on panel body */

div[class*='panel_'] div.panel-body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;/*#F5F5F5;*/
}
div[class*='panel_'] div.panel-body::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;/*#F5F5F5;*/
}
div[class*='panel_'] div.panel-body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: transparent/*#9d9d9d*/;
}
