@import "colors";
@import "jobs";
@import "displayBox";
@import "fonts";


.empty-display {
  @extend .display-box;
  text-align: center;
  font-size: 26px;
  font-family: $baseline-font;
  padding: 150px 50px;
}

.header-buttons {
    text-align: center;
  margin-bottom: 10px;
}
